.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  align-items: center;
  z-index: 1;
  background-color: var(--color-background);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.links {
  margin: 0px auto;
  display: flex;
  gap: 70px;
}

.link {
  text-decoration: none;
  transition: 0.5s;
  margin: 0;
}

.link:hover {
  color: var(--color-highlight);
}

.link h2 {
  position: relative;
}

.link h2::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  transition: 0.3s;
}

.link:hover h2::before {
  width: 100%;
  background-color: var(--color-highlight);
}

.activelink {
  color: var(--color-primary);
}

.notactivelink {
  color: var(--color-text);
}

.theme_icon {
  margin-right: 30px;
}