.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 200px;
  font-size: 24px;
  font-weight: bold;
  background-color: #F9F5FF;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.leftcontainer {
  justify-self: start;
}
.rightcontainer {
  justify-self: end;
}

.rightcontainer a {
  margin-left: 100px;
}

.activelink {
  color: #4D148C;
  text-decoration: underline;
}

.notactivelink {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.notactivelink:hover {
  color: #811AC0;
}