body {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  background-image: url('../../public/images/space-background.jpg');
  background-size: cover;
  background-position: center;
}