.container {
  width: 100vw;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Content card */
.container #contentcard {
  width: 50vw;
  margin: 50px 0px;
  height: fit-content;
  display: block;
}

#contentcard img {
  width: 100%;
  height: 100%;
}