.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Content card */
.container #contentcard {
  width: 50vw;
  margin: 50px 0px;
  height: fit-content;
  display: block;
}

.text {
  background-color: var(--color-second-background);
  padding: 5px 20px;
  border-radius: 20px;
  margin: 10px 0px;
}

.introduction {
  display: flex;
  align-items: center;
  gap: 20px;
}

#contentcard img {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin: 10px 0px;
}

.container a {
  margin: 20px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
}

.container a:hover {
  color: var(--color-highlight);
}