.container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Home card */
.container #contentcard {
  width: 70vw;
  height: fit-content;
  margin: 50px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Card left content */
.leftcontent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leftcontent h1 {
  margin: 5px 0px;
  background-color: var(--color-second-background);
  padding: 10px;
  border-radius: 10px;
}

.leftcontent span {
  color: var(--color-primary);
}

.leftcontent button {
  margin-top: 30px;
}

/* Card right content */
.rightcontent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightcontent img {
  width: 70%;
  height: 70%;
  cursor: pointer;
  transition: 1s ease;
}

.rightcontent img:hover {
  transform: scale(1.1);
}