.container {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#contentcard {
  width: 50%;
  height: fit-content;
  margin: 50px 0px;
  display: block;
}

.info {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.info h2 {
  font-size: 24px;
}

.info ul {
  border-radius: 15px;
  padding: 5px 40px 20px;
  margin: 20px 0px;
  background-color: var(--color-second-background);
}

.info li {
  font-size: 22px;
  margin: 10px 0;
}

.leftcontent {
  width: 50%;
}

.rightcontent {
  width: 50%;
}

